<h1>Date</h1>

<p>Crystal and Michael will be married on Saturday the 30th of April 2016.</p>

<p>The reception will be held at 6:30pm</p>


<h2>Information</h2>
Guests should be aware there will be:
<ul>
  <li>A supervised children's room. Crystal and Michael know many of their guests have children and want to give parents the chance to enjoy the event with their children and have the ability to check them in if they would like to socialize.</li>
  <li>Dancing! During the evening portion of the reception Crystal and Michael will be dancing on the dance floor. Dancing will open with the Traditional Wedding dances. The floor will then open up and guest can join us for dancing.</li>
</ul>
<h2>Location</h2>
We are having our reception at Millennial Falls in Draper. Chosen because of its beautiful interior and out door spaces as well as amenities for guests. It should provide a lovely backdrop for the wedding.
<h3>Address</h3>
<div>
  <div><strong>Millennial Falls</strong></div>
  <div>12375 South 1300</div>
  <div>East Draper, Utah</div>
  <div>84020</div>
</div>
<a href="https://www.google.com/maps/dir/''/millennial+falls/">Get Directions</a>
<h3>Website</h3>
If you need more information about the venue, contact and other information is availible at <a href="http://www.millennialfalls.com/">their website</a>
