<h1>Purposal</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6 hers">
    <h2>Bride's Story</h2>
    <p>As you know from the story of how we met, we prefer to take things slow.
      We discussed marriage for a long time before taking action on those
      discussions. As a result, we ended up at some jewelry stores together
      scoping out rings. Michael spotted THE ONE and urged me over to take a
      look. He already knew it was the ring we would get, but none the less
      wanted my approval. I walked over and was mesmerized by the delicate and
      intricate twists of the ring. I loved it right away, as did he. When I
      tell this story I like to explain that technically we picked out the ring
      together, but in reality Michael found it, Michael picked it. If I had
      sent him on his own letting him make the decision as a surprise I’m about
      99.99% sure that I would have ended up with the exact same ring. He
      deserves all the acknowledgement for the selection and for the elegance
      and beauty.</p>
    <p>Having picked out the ring, and the stone to set in the ring, we put it
      on layaway. This was beneficial to us in several ways. Most importantly,
      it gave us time to pay for the thing! Also, it allowed the actual proposal
      to remain a surprise. I knew that he would ask me. I knew what the ring
      would look like. I knew what I would say when that day came. I had no idea
      WHEN that would be. His payment schedule was a secret. I would have no way
      to know when he obtained possession of the ring, or how he would go about
      popping the question.</p>
    <p>Our trip to that jewelry store was in October of 2014. We were engaged in
      May of 2015. Did I mention that we take our time?</p>
    <p>As the time went by, I began to suspect that he was getting close to
      paying off the ring. My suspicions were confirmed when some of his family
      accidentally told me the secret. Yep, he definitely had the ring in his
      possession. It was definitely all paid for. At this point of the story, he
      was fuming that his secret was blown! It was the cutest anger I’ve ever
      seen. Though I think he has finally joined me in seeing the humor in this
      part of the story, it’s difficult to be sure (he might still be a bit
      mad). I always thought that it was a little funny and that it would add
      charm to our proposal tale. Really all this knowledge changed for me was
      that now I wondered “could this be it?” at any and every given moment of
      most days. I still had no idea what he actually planned for the moment to
      be.</p>
    <p>Our two year anniversary was approaching. I had my suspicions that this
      would be the day he popped the question. That morning we ran in a 5k
      together. He told me to make sure the entire rest of the day was clear of
      plans because he had the whole day planned out for me. However, he refused
      to tell me what those plans entailed. As I was getting ready for the day
      he casually added that I should probably pack an overnight bag. No
      information about what kinds of things I might need to pack. No details
      about if I should be dressing casually or dressing up, packing jeans or
      packing dresses, nothing. “Whatever you want to wear.” “Whatever you want
      to bring.” So not helpful. I decided to bring a smattering of everything,
      and off we went.</p>
    <p>Michael planned out an incredibly romantic day of recreating all of our
      early dates. The same arcade, the same restaurant, etc. Ordering the same
      food and wearing the same clothes he originally wore, though I didn’t
      notice those small details immediately. He told me about the food and the
      shirt after the fact, kudos to him! I certainly could not remember what I
      ordered or what I wore, let alone what HE did!</p>
    <p>I’m very spoiled by such a sentimental and thoughtful partner in life. We
      played like we did in the early days of our relationship, reliving all
      those exciting dates and recreating those early butterflies.</p>
    <p>At the Chinese restaurant he made me save the fortune cookies for later,
      having me pack them in my purse to bring on the next part of our
      adventure. Which, of course, made me super suspicious of the fortune
      cookies all night long. Could the ring be in the cookie? Could it be
      personalized? Maybe the fortune will read the words “Will you marry me?”
      the cookies were in the back of my mind all evening. Clever decoy, though
      he still claims it to be a happy accident. I don’t know if it was planned
      or not.</p>
    <p>Finally at the end of our journey we headed up into the canyons and
      arrived at Snowbird Ski Resort and Lodge. We stood on the balcony admiring
      the breathtaking views. I was in awe as the mist gathered around the tops
      of the mountains all around us and the sun was setting in the distance.
      Absolutely gorgeous. We stood and enjoyed for a few moments until Michael
      shifted from having his arm around my shoulder, slowly turning me to face
      him. As I turned, he dropped to one knee. As he dropped to one knee, my
      eyes began to swell. He continued, telling me how happy I made him, how
      happy marrying me would make him, how much he wanted our future together
      and many other romantic thoughts and gestures. As he spoke, I was filled
      with pure joy and I wept uncontrollable tears of happiness. As I cried,
      his voice cracked, which made me cry more. I can’t remember all the
      details or all the words. I can’t even remember if I managed to speak my
      reply or simply nod yes. He slipped the ring over my finger and it was
      more amazing and beautiful than I had remembered it. We stayed on the
      balcony embracing in the most meaningful hug of my life for what seemed
      like forever and I still didn’t want the moment to ever end.</p>
    <p>When we went back inside we watched Iron Man 3 (another of our first
      dates being recreated), and at a moment during the movie he paused it
      announcing that it was time for fortune cookies! I laughed uncontrollably.
      Nobody else in my life has the power to evoke so many intense emotions one
      after the other, each more amazing than the last. The next morning as we
      were eating breakfast in the mountains and I sat admiring my ring in
      between each bite, I couldn’t help but think about how lucky I am to have
      the incredible guy across from me. Words cannot express. I am so excited
      to become his wife!</p>
  </div>
  <div class="col-xs-12 col-sm-6 his">
    <h2>His</h2>
    <div>
      <p>I recreated some our first dates, then took her to snowbird and purposed on a balcony with a beautiful view.</p>
      <p>She said yes!</p>
    </div>
  </div>
</div>

