<h1 class="text-center">Registries</h1>

<div class="main-container">
  <h2>A Plea</h2>
  Crystal and Michael are an established couple. They have many of the things
  that couples often need when starting their life together. For the past few
  months Michael <i>might</i> have been dying from stress about what this
  wedding is going to cost. Gifts of money would be greatly appreciated.
  <h2>Links</h2>
  If you are more comfortable getting gifts from a registry Crystal and Michael
  have registered at <a
  href="https://www.amazon.com/registry/wedding/1P4U1ODP4QWRF">Amazon</a> and
  <a
    href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543131975&eventType=Wedding">
    Bed, Bath and Beyond
  </a>.
</div>
