<h1 class="text-center">Our Story</h1>

<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 hers">
      <h2 class="text-center">Bride's Story</h2>
      <div>
        <p>It all started with a blind date…yes, you did read that correctly, a
          blind date. Boy meets girl…through the detailed calculations of mutual
          friends. Oh but that is only the very beginning, that’s just the
          meeting. It didn’t bring us together as a couple until much later. In
          fact, it was actually a year after that first blind date before we
          began
          really dating and starting a relationship.</p>
        <p>So, let’s begin with the initial set up. My best friend, whom I’ve
          known since the second grade, happened to marry a guy that met Michael
          at work. They decided to get him (him being Michael) back into the
          dating world, and so Melanie and Collin proceeded to make arrangements
          for the two of us to meet. I received a phone call from Melanie
          explaining that they had this friend they wanted me to meet. She
          continued to explain to me that she needed me to be the one she set
          this
          guy up with because she trusted that I had the ability to carry a
          conversation on my own if necessary. I was warned, and prepped for a
          date with some extremely shy and quiet guy who hasn’t dated in years.
          They said I needed to be the one they set him up with because I could
          be
          nice, and I could show the boy that this whole dating thing isn’t so
          bad. After all of the warnings, I agreed to the casual group date in
          their apartment.</p>
        <p>They invited me over, and they invited Michael over. The plan was to
          have dinner, play some board games, and basically just have a low key,
          low pressure double date. When we arrived, much to all of our
          surprise,
          the evening went off without a hitch. There wasn’t even a hint of
          awkwardness or nervous silence. All night I never saw that shy boy
          they
          told me so much about. Not even once. We talked, laughed, played, and
          had fun for hours.</p>
        <p>Following that evening we became sort of distant friends. Friendly
          acquaintances. We had those mutual friends which meant we ended up at
          many parties and gatherings at the same time over the course of the
          following year. Nothing more than vague friendship came of that
          initial
          blind date during the first year. I guess the timing was just off.</p>
        <p>Fast forward a year from the meeting: we ended up out for a trip to
          the
          zoo with Melanie, Collin and their son. Very casual, not even a date,
          yet that was the beginning of a brand new relationship. During that
          day
          at the zoo, our friends conveniently found ways to leave us behind.
          Each
          time they did, it gave Michael and I a little time alone, to talk and
          flirt and spend time together. Within a few days we had another, more
          official, double date set up. Melanie and Collin, again conveniently,
          left early right after the movie to get home and relieve their
          babysitter. Michael and I continued the evening on our own.</p>
        <p>Over the next few weeks we were spending crazy amounts of time
          together. Date after date. Hour after hour. We would stay up all night
          talking. We became more and more inseparable. The rest is history. We
          have been together ever since. By the time we finally wed, we will
          have
          known each other for nearly 4 years. Almost 3 of those years spent as
          a
          couple. Just under a year of that engaged. The trend we set is taking
          our time, but oh how beautiful our time is.</p>
        <p>We were made for each other and I feel so lucky to have met this man
          of
          mine. So blessed to be the one girl he opens up to so easily. To have
          him as my best friend, my partner in crime, my confidant. He is the
          only
          person I want to share my life with. I’m the girl that has always been
          so easy to talk to, he’s that boy who is shy for everyone else. That
          is
          the tale of our romance. We can’t wait for the next chapters of our
          lives together!</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 his">
      <h2 class="text-center">Groom's Story</h2>
      <div>
        <p>I was oblivious.</p>

        <p>Let us start with that. It is going to be an important theme.</p>

        <p>How did we meet? It was a blind date. I wasn’t sure that it was
          though. I hadn’t dated in a long time and the numbers added up to
          blind date, but no one had told me that it was going to be. I checked
          after and asked Collin, the friend who set me up, “Hey was that a
          date?” He said, “Call it whatever you want.” This really cleared
          things up for me. There were other things. Hints were dropped that
          “Crystal had fun too” but that flew right over my head.</p>

        <p>Retrospectively, when I was told, “Crystal had fun too,” maybe it
          shouldn’t have been so obvious that I could have called her for a
          second date. I wasn’t really sure we had had a first one.</p>

        <p>It was nice. Crystal told me all about her job, there were s’mores
          and conversation below twinkly lights. Despite being utterly terrified
          of dating and women, I found I could talk to Crystal naturally. It was
          fun and I liked Crystal.</p>

        <p>I was still oblivious.</p>

        <p>A year passed like this. People eventually revealed to me that it
          was, in fact, a blind date. That phrases like, and “Crystal had fun
          too”, meant I could probably call her for a second date. However, at
          this point she was dating someone else so we saw each other at parties
          and the like but we didn’t interact so much.</p>

        <p>Then there was spring break. We went to the Zoo together with those
          same friends that set us up the first time. This was not a date but we
          hung out and talked (you know that thing I generally can’t do with
          women) and it was nice!</p>

        <p>Then finally clear lines. I lucked into some early release Iron Man 3
          tickets and asked Crystal to a movie (accompanied by those same friend
          because I had to talk to them to get Crystal’s number…. wait a minute…
          how would I have called her after the first not date?). This was a
          date. I knew what this was because I set the terms. It was clear, and
          I spent the whole time being as awkward and frozen as I have ever been
          on a first date, luckily a huge part of the date was watching a movie
          so conversation wasn’t much expected.</p>

        <p>We had a series of nice dates after that where I was something more
          like a human and less like and awkward statue. We watched movies in
          parks, went to arcades, and ate Chinese food at restaurants whose
          quality we were entirely unsure of. It was natural and not awkward at
          all. I was no longer oblivious. It was obvious I wanted to spend my
          life with Crystal, that I loved her, and that we were meant for each
          other.</p>

      </div>
    </div>
  </div>
</div>
