<h1>Story</h1>

<div class="row">
  <div class="col-xs-6 hers">
    <h2>Hers</h2>
    <div>
      <p>It all started with a blind date…yes, you did read that correctly, a
        blind date. Boy meets girl…through the detailed calculations of mutual
        friends. Oh but that is only the very beginning, that’s just the
        meeting. It didn’t bring us together as a couple until much later. In
        fact, it was actually a year after that first blind date before we began
        really dating and starting a relationship.</p>
      <p>So, let’s begin with the initial set up. My best friend, whom I’ve
        known since the second grade, happened to marry a guy that met Michael
        at work. They decided to get him (him being Michael) back into the
        dating world, and so Melanie and Collin proceeded to make arrangements
        for the two of us to meet. I received a phone call from Melanie
        explaining that they had this friend they wanted me to meet. She
        continued to explain to me that she needed me to be the one she set this
        guy up with because she trusted that I had the ability to carry a
        conversation on my own if necessary. I was warned, and prepped for a
        date with some extremely shy and quiet guy who hasn’t dated in years.
        They said I needed to be the one they set him up with because I could be
        nice, and I could show the boy that this whole dating thing isn’t so
        bad. After all of the warnings, I agreed to the casual group date in
        their apartment.</p>
      <p>They invited me over, and they invited Michael over. The plan was to
        have dinner, play some board games, and basically just have a low key,
        low pressure double date. When we arrived, much to all of our surprise,
        the evening went off without a hitch. There wasn’t even a hint of
        awkwardness or nervous silence. All night I never saw that shy boy they
        told me so much about. Not even once. We talked, laughed, played, and
        had fun for hours.</p>
      <p>Following that evening we became sort of distant friends. Friendly
        acquaintances. We had those mutual friends which meant we ended up at
        many parties and gatherings at the same time over the course of the
        following year. Nothing more than vague friendship came of that initial
        blind date during the first year. I guess the timing was just off.</p>
      <p>Fast forward a year from the meeting: we ended up out for a trip to the
        zoo with Melanie, Collin and their son. Very casual, not even a date,
        yet that was the beginning of a brand new relationship. During that day
        at the zoo, our friends conveniently found ways to leave us behind. Each
        time they did, it gave Michael and I a little time alone, to talk and
        flirt and spend time together. Within a few days we had another, more
        official, double date set up. Melanie and Collin, again conveniently,
        left early right after the movie to get home and relieve their
        babysitter. Michael and I continued the evening on our own.</p>
      <p>Over the next few weeks we were spending crazy amounts of time
        together. Date after date. Hour after hour. We would stay up all night
        talking. We became more and more inseparable. The rest is history. We
        have been together ever since. By the time we finally wed, we will have
        known each other for nearly 4 years. Almost 3 of those years spent as a
        couple. Just under a year of that engaged. The trend we set is taking
        our time, but oh how beautiful our time is.</p>
      <p>We were made for each other and I feel so lucky to have met this man of
        mine. So blessed to be the one girl he opens up to so easily. To have
        him as my best friend, my partner in crime, my confidant. He is the only
        person I want to share my life with. I’m the girl that has always been
        so easy to talk to, he’s that boy who is shy for everyone else. That is
        the tale of our romance. We can’t wait for the next chapters of our
        lives together!</p>
    </div>
  </div>
  <div class="col-xs-6 his">
    <h2>His</h2>
    <div>
      <p>Friends setup us up on a blind date. It was fun, but despite being told
        she also had a fun time I didn't really realize I could call her for a
        second date. A year passed and she was available! So I asked to her see
        Iron Man 3 with me.</p>
      <p>She said yes!</p>
    </div>
  </div>
</div>
